<div class="mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label class="label-container">Regions:</label>
                </div>
                <div class="col-md-12">
                    <select placeholder="Region" [(ngModel)]="selectedRegion" (change)="changeRegion($event)" class="dropdown-container">
                        <option value="">Choose Region</option>
                        <option *ngFor="let region of regions$ | async">{{region.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" *ngIf="isRegionSelected()">
                <div class="col-md-12">
                    <label class="label-container">Countries:</label>
                </div>
                <div class="col-md-12">
                    <select placeholder="Country" [(ngModel)]="selectedCountryName" (change)="changeCountry($event)" class="dropdown-container">
                        <option value="">Choose Country</option>
                        <option *ngFor="let country of countries">{{country.name}}</option>
                    </select>
                </div>

            </div>
        </div>

    </div>
</div>

<app-country-details [selectedCountry]="getSelectedCountryDetail()"></app-country-details>